
<div class="footer">
    <h1><a href="index.php">Yassir PIZZA</a></h1>
   
    <div class="block1">
        <h4>Contact</h4>
    <ul>
        <div class="listsection"><img src="imgs/emailicon.png" alt=""> <li><a href="https://mail.google.com/mail/u/0/#inbox?compose=CllgCJZZPzTVFMWnwZCgwwgtzQCQPbMTClbBwXgWBQkqsFfcllFrZsTLfgFmQHFfchjHbLNhGDB" target="_blank">Email</a></li></div>
        <div class="listsection"><img src="imgs/fbicon.png" alt="">  <li><a href="https://www.facebook.com/yassirken.12/" target="_blank">Facebook</a></li></div>
            <div class="listsection"><img src="imgs/instaicon.png" alt=""> <li><a href="https://www.facebook.com/yassirken.12/" target="_blank">Instagram</a></li></div>
    </ul>
</div>
<div class="block2">
    <h4>About me</h4>
    <ul>
        <li><a href="#">Who am I ?</a></li>
        <li><a href="#">My projects</a></li>
    </ul>
</div>
</div>
