
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style/style.css">
  <title>My Pizza WEBSITE</title>
</head>
<body>
    <div class="container header">
        <div class="shopcontainer">
        <img src="imgs/pizzaheader.png" alt="PIZZA" class="pizzashopimg">
      </div>
      <div class="rightside">
       <a href="index.php"><h1>Welcome To YASSIR PIZZA SHOP</h1></a> 
        <a id="addpizza" href="add.php">Add PIZZA</a>

      </div>
    </div>